.ng-invalid.ng-dirty {

    border-color: red;
}

.ng-valid.ng-dirty {

    border-color: green;
}

body {

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}